
<% if !@user.like_micropost?(@post) %>
	$("#like_<%= @post.id %>").html("<%= escape_javascript(link_to 'Like', like_user_url(id: current_user,mid: @post.id), method: :post ,remote: true) %>");
<% else %>
	$("#like_<%= @post.id %>").html("<%= escape_javascript(link_to 'Unlike', like_user_url(id: current_user,mid: @post.id), method: :post,remote: true) %>");
	<% end %>


$("#likecount_<%= @post.id %>").html("   <div id='likecount_<%= @post.id %>' >      <%= escape_javascript(link_to @post.reload.likes_count , liked_users_micropost_url(id: @post.id), remote: true ,title: get_liked_users(@post), 'data-toggle' => 'tooltip', 'data-placement' => 'right') %>          </div>");

