<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
  <hr>
  <div class="card">
  <h2><strong>Trending</strong></h2>
  <ul>
  <% if ActsAsTaggableOn::Tagging.where("created_at > ?", Date.yesterday).group(:tag).count.sort{|a,b| a[1] <=> b[1] }.reverse.size ==0 %>
      <strong>We will show you as soon as something trends</strong>
      <% else %>
    <% ActsAsTaggableOn::Tagging.where("created_at > ?", Date.yesterday).group(:tag).count.sort{|a,b| a[1] <=> b[1] }.reverse.first(5).map {|t|  t[0]}.each do |tag| %>
    <li><%= link_to tag,tag_url(tag.name) %></li>
    <% end %>
    <%end%>
 
  </ul>
   </div>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
